/* GLobal*/
/* Styling the body tag*/
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}

/* Styling all the containers of the website*/
.container{
    width:95%; /* Responsive */
    margin: auto; /* Moving things to middle for size variations(expanding and compressing the site layout)*/
    overflow:hidden; /* if something goes out of div, donot create scrollbar but rather hide the content*/
}

/* no margins and padding for uls*/
ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background:#e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Styling the header tag*/
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px; /*Responsive design criteria*/
  border-bottom: #e8491d 3px solid;
}

/* Styling all the a tags within header*/
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 10px; /* Bottom and left padding*/
}

/* Specific Styling*/
header #branding{
  float: left; /* floats to the left of the container*/
}

/* Specific Styling*/
header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 15px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}
header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Styling the Showcase*/
#showcase{
  min-height: 400px;
  background:url('../images/showcase2_image.jpg') no-repeat 0 -350px;
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

/* Styling the newsletter*/
#newsletter{
  padding: 15px;
  color: #ffffff;
  background-color: #35424a;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 20px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Styling the boxes*/
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}

#boxes .box img{
  width: 300px;
}

/* article tag of about page*/
#sidebar{
  float: right;
  width: 30%;
  margin-top:10px;
}

/* form tag of services page */
#sidebar .quote input, #sidebar .quote textarea{
  width: 90%;
  padding: 5px;
}

/* aside tag of about page*/
#main-col{
  float: left;
  width: 65%;
}

/* Services */

#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

/* Registration page */
#register-section{
  margin-top: 15px;
  padding: 15px;
  color: #ffffff;
  background-color: #35424a;
}

#register-section h3{
  float: center;
}

#register-section .container{
    width:50%;
    margin: auto;
    overflow:hidden;
}

#register-section .register input{
  width: 100%;
  padding: 5px;
}

#register-section .register button{
  width: 30%;
  float: center;
  margin-top: 20px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #e8491d;
  text-align: center;
}

/* signup page starts */
#signup {
    background: url('../images/register.jpg');
    min-height: 858px;
    overflow: hidden;
    background-size: cover;
}

.signup_form {
    background: #ffffff;
    border-radius: 4px;
    padding: 24px;
    width: 20%;
    height: 550px;
    position: relative;
    left: 200px;
    top: 75px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    color: #484848 !important;
}

.table_font {
    width: 100%;
}

.title {
    font-size: 19px;
    line-height: 30px;
    color: #484848;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
    width: 94%;
    margin-bottom: 16px;
    text-align: center;
}

.text {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
}

.reg_align {
    text-align: center;
}

.reg_label {
    font-size: 17px;
    line-height: 30px;
    color: #484848;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
    width: 94%;
    margin-bottom: 16px;
}

.reg_month {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
}

.reg_day {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
}

.reg_year {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
}

.align_right{
    text-align: right;
}

.link_2 {
    height: 20px;
    margin-top: 8px;
    margin-left: 55px;
    padding-left: 16px;
    padding-right: 32px;
    color: #e8491d;
    border: 1px solid #e8491d;
    text-decoration: none;
    font-size: 13px;
	border-radius: 25px;
}

/* signup page ends */

/* login page starts */

#login {
    background: url('../images/login.jpg');
    min-height: 858px;
    overflow: hidden;
    background-size: cover;
}

.login_form {
    background: #ffffff;
    border-radius: 4px;
    padding: 24px;
    width: 20%;
    height: 250px;
    position: relative;
    left: 850px;
    top: 200px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    color: #484848 !important;
}

.link {
    height: 20px;
    margin-top: 8px;
    margin-left: 50px;
    padding-left: 16px;
    padding-right: 24px;
    color: #e8491d;
    border: 1px solid #e8491d;
    margin-right: -13px;
    text-decoration: none;
    font-size: 13px;
	border-radius: 25px;
}

.member_text{
    font-size: 14px;
    line-height: 30px;
    color: #484848;
    background-color: transparent;
    border: 0px;
    text-align: center;
}

.column_height {
    height: 8px;
}

/* login page ends */

/* host signup begins */

#host_signup {
    background: url('../images/host.jpg');
    min-height: 858px;
    overflow: hidden;
    background-size: cover;
}

.host_signup_form {
    background: #ffffff;
    border-radius: 4px;
    padding: 24px;
    width: 40%;
    height: 710px;
    position: relative;
    left: 200px;
    top: 50px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    color: #484848 !important;
}

.text_2 {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
	width: 226px;
}

.text_3 {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
	width: 250px;
	margin-right: 16px;
}

.text_4 {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
	width: 84px;
	margin-right: 16px;
}

.text_5 {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
	width: 84px;
}

.select {
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    font-weight: 300;
    background-color: transparent;
    border: 0px;
    padding: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    border-radius: 2px;
    margin-bottom: 16px;
	width: 252px;
}

/* Media Queries */
@media(max-width: 768px)  {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar,
    #register-section h3,
    #register-section form{
      float: none;
      text-align: center;
      width: 100%;
    }

    header{
      padding-bottom: 20px;
    }

    #showcase h1{
      margin-top: 40px;
    }

    #newsletter form input[type='email'], .quote input, .quote textarea{
      width: 100%;
      margin-bottom: 5px;
    }

    #newsletter button, .quote button{
      display:block;
      width:100%;
    }

    #register-section form input[type='email'], .register input{
      width: 100%;
      margin-bottom: 5px;
      margin-right: 5px;
    }

    #register-section .register button{
      display:block;
      width:100%;
    }
}
